.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    text-transform: none !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    transform: translate(14px, 12px) scale(1);
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    transform: translate(14px, -13px) scale(0.8);
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #edebec !important;
}
